@import 'tailwindcss';

@theme {
  --color-background: #0b0f1a;
  --color-foreground: #e6f1ff;

  --color-card: #111827;
  --color-card-foreground: #e6f1ff;

  --color-popover: #0f172a;
  --color-popover-foreground: #f0f9ff;

  --color-primary: #8e33e3;
  --color-primary-foreground: #ffffff;

  --color-secondary: #162e63;
  --color-secondary-foreground: #f5e9ff;

  --color-muted: #1d2a41;
  --color-muted-foreground: #8ac7e3;

  --color-accent: #ff2bd6;
  --color-accent-foreground: #ffffff;

  --color-destructive: #ff1744;
  --color-destructive-foreground: #ffffff;

  --color-border: #1f2a44;
  --color-input: #0c1424;
  --color-ring: #00eaff;

  --color-success: #00ff9f;
  --color-success-foreground: #002616;

  --color-warning: #ffc400;
  --color-warning-foreground: #1a1200;

  --color-info: #00d4ff;
  --color-info-foreground: #001922;

  --animate-loading-bar: loading-bar 1.75s ease-in-out infinite;
}

.bg-main {
  @apply bg-linear-to-br from-gray-900 via-background to-gray-900;
}

.bg-main-gradient {
  background: linear-gradient(60deg, #dc199e, #b214c6, #4338ca);
}

.bg-gradient-neon {
  @apply bg-linear-to-r from-info via-primary to-accent;
}

.text-gradient-neon {
  @apply bg-clip-text text-transparent bg-linear-to-r from-primary to-accent;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
