@import 'tailwindcss';

@theme {
  --color-background: #0b0f1a;
  --color-foreground: #e6f1ff;

  --color-card: #111827;
  --color-card-foreground: #e6f1ff;

  --color-popover: #0f172a;
  --color-popover-foreground: #f0f9ff;

  --color-primary: #9131be;
  --color-primary-foreground: #ffffff;

  --color-secondary: #162e63;
  --color-secondary-foreground: #f5e9ff;

  --color-muted: #1d2a41;
  --color-muted-foreground: #8ac7e3;

  --color-accent: #ff2bd6;
  --color-accent-foreground: #ffffff;

  --color-destructive: #ff1744;
  --color-destructive-foreground: #ffffff;

  --color-border: #1f2a44;
  --color-input: #0c1424;
  --color-ring: #00eaff;

  --color-success: #00ff9f;
  --color-success-foreground: #002616;

  --color-warning: #ffc400;
  --color-warning-foreground: #1a1200;

  --color-info: #00d4ff;
  --color-info-foreground: #001922;

  --animate-loading-bar: loading-bar 1.75s ease-in-out infinite;
}

.titlebar {
  padding-top: env(titlebar-area-height);
}

.bg-main {
  @apply bg-linear-to-br from-gray-900 via-background to-gray-900;
}

.bg-main-gradient {
  background: linear-gradient(60deg, #dc199e, #b214c6, #4338ca);
}

.container-neon {
  @apply border shadow-lg shadow-primary/20 border-primary/50 bg-linear-to-br from-primary/10 to-transparent;
}

.text-neon {
  @apply bg-transparent text-primary;

  text-shadow:
    0 0 2px color-mix(in srgb, var(--color-primary) 35%, transparent),
    0 0 8px color-mix(in srgb, var(--color-primary) 30%, transparent),
    0 0 16px color-mix(in srgb, var(--color-primary) 25%, transparent);

  & > svg {
    filter: drop-shadow(
        0 0 2px color-mix(in srgb, var(--color-primary) 35%, transparent)
      )
      drop-shadow(
        0 0 8px color-mix(in srgb, var(--color-primary) 30%, transparent)
      )
      drop-shadow(
        0 0 16px color-mix(in srgb, var(--color-primary) 25%, transparent)
      );
  }
}

.tooltip-arrow {
  filter: drop-shadow(1px 1px 0 var(--color-border));

  &[data-side='top'] {
    transform: rotate(0deg);
  }

  &[data-side='bottom'] {
    transform: rotate(180deg);
  }

  &[data-side='left'] {
    transform: rotate(-90deg);
  }

  &[data-side='right'] {
    transform: rotate(90deg);
  }
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
